body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#backgroundImage, #foregroundImage {
    max-width: 600px;
    max-height: 400px;
}


#foregroundImage {
    position: absolute;
    right: 184.5px; /* 화면 오른쪽 경계로부터 10px 떨어진 위치 */
    bottom: 164px; /* 화면 하단 경계로부터 10px 떨어진 위치 */
    max-width: 181px; /* 이미지의 최대 너비 */
    max-height: 181px; /* 이미지의 최대 높이 */
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
}
