body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#backgroundImage {
    width: 835.8px; /* 배경 이미지의 너비를 2388px로 설정 */
    height: 583px; /* 배경 이미지의 높이를 1668px로 설정 */
}

#foregroundImage {
    position: absolute;
    right: 270px; /* 화면 오른쪽 경계로부터 10px 떨어진 위치 */
    bottom: 242px; /* 화면 하단 경계로부터 10px 떨어진 위치 */
    max-width: 260px; /* 이미지의 최대 너비 */
    max-height: 260px; /* 이미지의 최대 높이 */
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
}

